<div class="image-slider-wrapper jumbotron">
  <div class="mask-layer">
    <img [src]="logo" />
    <h1 class="display-4">Hi, kami Dapur Hafi ...</h1>
    <h3>Silakan memesan dari menu-menu yang tersedia.</h3>
    <p>
      Untuk saat ini area layanan kami untuk wilayah Yogyakarta. Pemesanan dapat
      dilakukan melalui Whatsapp / Telfon / SMS ke 081392274497.
    </p>
    <a
      class="btn btn-outline-light btn-lg"
      href="https://api.whatsapp.com/send?phone=6281392274497&text=Hi, Dapur Hafi ..."
      role="button"
      >Pesan Sekarang</a
    >
  </div>
</div>
