<div class="home-wrapper">
  <div class="{tac: true, hide: true}">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mb-sm-3 mb-xs-3">
        Dengan mengakses dan menggunakan situs web ini, Anda mengetahui bahwa
        Anda telah membaca dan memahami <a href="">Kebijakan Cookie</a>,
        <a href="">Kebijakan Privacy</a>, dan
        <a href="">Ketentuan Layanan</a> kami.
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <button class="btn btn-primary" v-on:click="tacHide">Setuju</button>
      </div>
    </div>
  </div>
  <app-image-slider></app-image-slider>
  <div class="container-fluid">
    <div class="intro">
      <h1>Work From Home dan Laper?</h1>
      <p>Silakan pesan makanan dari menu-menu yang tersedia berikut ini.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h5>Ayam Srundeng</h5>
            </div>
            <div class="card-img">
              <img :src="ayamSrundeng" />
            </div>
            <div class="card-text">
              <p>Ayam goreng dengan taburan srundeng.</p>
              <p>
                1 Pack isi 6 pcs ayam, dengan packing kotak plastik mika (utk
                microwave).
              </p>
              <p class="price">Rp. 35.000 / pack</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h5>Ayam Bacem</h5>
            </div>
            <div class="card-img">
              <img :src="ayamBacem" />
            </div>
            <div class="card-text">
              <p>
                Ayam yang di olah memakai bumbu bacem jawa , rasanya manis
                gurih, siap di goreng atau di bakar.
              </p>
              <p>1 Pack isi 1/2 kg ayam, dengan packing plastik kedap udara.</p>
              <p class="price">Rp. 30.000 / pack</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h5>Ayam Bumbu Kuning</h5>
            </div>
            <div class="card-img">
              <img :src="ayamBumbuKuning" />
            </div>
            <div class="card-text">
              <p>Ayam dibumbu kuning, masih mentah siap goreng.</p>
              <p>1 Pack isi 6 pcs ayam, dengan packing plastik kedap udara.</p>
              <p class="price">Rp. 30.000 / pack</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h5>Singkong Bumbu</h5>
            </div>
            <div class="card-img">
              <img :src="singkongBumbu" />
            </div>
            <div class="card-text">
              <p>
                Singkong bumbu kami olah dengan bumbu bawang dan keju rasanya
                gurih, berat sekitar 700g, dengan packing mika dan vacum untuk
                dapat disimpan dalam frezer sehingga siap saji kapanpun.
              </p>
              <p>
                Dapat di goreng atau di kukus, penyajiannya dapat di cocok
                sambel sesuai selera atau tabur dengan parutan keju.
              </p>
              <p class="price">Rp. 12.000 / pack</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h5>Cireng</h5>
            </div>
            <div class="card-img">
              <img :src="cireng" />
            </div>
            <div class="card-text">
              <p>
                Cireng sudah banyak dikenal berbahan aci yang di olah dengan
                bumbu bawang putih dan garam. Per pack isi 20 biji cireng yang
                siap digoreng (sudah termasuk sauce cocolannya).
              </p>
              <p class="price">Rp. 22.000 / pack</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
